<ons-navigator var="app.navi">
    <ons-page>

        <ons-toolbar>
            <div class="left">
                <ons-toolbar-button onclick="app.menu.toggleMenu()"><ons-icon icon="fa-bars"></ons-icon></ons-toolbar-button>
            </div>
            <div class="center">A propos</div>
        </ons-toolbar>

        <h1>Page A propos</h1>

    </ons-page>
</ons-navigator>
