<ons-navigator var="app.navi">
    <ons-page id="sessions">
        <ons-toolbar>
            <div class="left">
                <ons-toolbar-button onclick="app.menu.toggleMenu()"><ons-icon icon="fa-bars"></ons-icon></ons-toolbar-button>
            </div>
            <div class="center">Sessions</div>
        </ons-toolbar>
       <sessions>
       </sessions>
    </ons-page>
</ons-navigator>
