<ons-page id="session">
    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button onclick="app.menu.toggleMenu()"><ons-icon icon="fa-bars"></ons-icon></ons-toolbar-button>
        </div>
        <div class="center">Session</div>
    </ons-toolbar>
   <session>
   </session>
</ons-page>
