<ons-page id="speaker">
    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button onclick="app.menu.toggleMenu()"><ons-icon icon="fa-bars"></ons-icon></ons-toolbar-button>
        </div>
        <div class="center">Speaker</div>
    </ons-toolbar>
   <speaker>
   </speaker>
</ons-page>
