<ons-navigator var="app.navi">
    <ons-page  id="speakers">

        <ons-toolbar>
            <div class="left">
                <ons-toolbar-button ng-click="app.menu.toggleMenu()"><ons-icon icon="fa-bars"></ons-icon></ons-toolbar-button>
            </div>
            <div class="center">Présentateurs</div>
        </ons-toolbar>

        <speakers>
        </speakers>
    </ons-page>
</ons-navigator>
