<ons-navigator var="app.navi">
    <ons-page  id="technique">

        <ons-toolbar>
            <div class="left">
                <ons-toolbar-button ng-click="app.menu.toggleMenu()"><ons-icon icon="fa-bars"></ons-icon></ons-toolbar-button>
            </div>
            <div class="center">Technique</div>
        </ons-toolbar>

        <technique>
        </technique>

    </ons-page>
</ons-navigator>
